#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=WiFi Hostapd AP
Comment=Wifi hostapd AP
Exec=/usr/bin/WiFi_Hostapd_AP
Icon=/usr/share/pixmaps/WiFiHostapdAP/WiFi_logo.png
Categories=Utility;
Terminal=false
